<!doctype html>
<html>
<head>
    <title>Test</title>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<style>
    body{ background-color: ivory; }
    #canvas{border:1px solid red;}
    #theText{width:10em;}
</style>
<script>
$(function(){
    // TODO: add snap 
    // TODO: add amino acid base.
    // TODO: add boxes to for the the molecules be put
    // TODO: add check system to see if the correct molecules are placed.

    // canvas related variables
    var canvas=document.getElementById("canvas");
    var ctx=canvas.getContext("2d");

    // variables used to get mouse position on the canvas
    var $canvas=$("#canvas");
    var canvasOffset=$canvas.offset();
    var offsetX=canvasOffset.left;
    var offsetY=canvasOffset.top;
    var scrollX=$canvas.scrollLeft();
    var scrollY=$canvas.scrollTop();

    // variables to save last mouse position
    // used to see how far the user dragged the mouse
    // and then move the text by that distance
    var startX;
    var startY;

    // an array to hold text objects
    var texts=[];

    // this var will hold the index of the hit-selected text
    var selectedText=-1;

    // padding of the grid
    let padding = 0;
    let gridHeight = 550;
    let gridWidth = 350;
    let blockSize = 50;
    let startingPositionX = 300;
    let startingPositionY = 100;


    // clear the canvas & redraw all texts
    function draw(){
        ctx.clearRect(0,0,canvas.width,canvas.height);

        for(var i=0;i<texts.length;i++){
            var text=texts[i];
            ctx.fillText(text.text,text.x,text.y);
        }
        ctx.fillText("C",canvas.width / 2, canvas.height / 4);
        ctx.fillText("H",canvas.width / 2, canvas.height / 7);
        ctx.fillText("H3N+",canvas.width / 2 - 160 , canvas.height / 4);
        ctx.fillText("COO-",canvas.width / 2 + 125 , canvas.height / 4 );
        ctx.fillText("__",canvas.width / 2 + 80 , canvas.height / 4.2 );
        ctx.fillText("__",canvas.width / 2 - 80 , canvas.height / 4.2 );
        ctx.fillText("|",canvas.width / 2, canvas.height / 5);
        ctx.fillText("|",canvas.width / 2 , canvas.height / 4 + 40);
        drawGrid();
    }

    function drawGrid() {

        //vertical
        for (var x = 0; x <= gridWidth; x += blockSize) {
            ctx.moveTo(0.5 + x + padding + startingPositionX, padding + startingPositionY);
            ctx.lineTo(0.5 + x + padding + startingPositionX, gridHeight + padding + startingPositionY);
        }
        
        //horizontal lines
        for (var x = 0; x <= gridHeight; x += blockSize) {
            ctx.moveTo(padding + startingPositionX, 0.5 + x + padding + startingPositionY);
            ctx.lineTo(gridWidth + padding + startingPositionX, 0.5 + x + padding + startingPositionY);
        }   

        ctx.strokeStyle = "black";
        ctx.stroke();
    }

    function calculateCenters() {
        numberOfBlocks = (gridWidth / blockSize) * (gridHeight / blockSize);
        // let centerPoints = {{ 0}};

        for (let i ; i < numberOfBlocks; i++) {
            xCoord = startX + blockSize * i + blockSize * 0,5;
            yCoord = startY + blockSize * i + blockSize * 0.5;
        }
        
        let center = { x: this.x + this.width / 2 - canvas.width/2, y: this.y + this.height / 2 - canvas.height/2};
        listCenterCoordinates;

    }

    // test if x,y is inside the bounding box of texts[textIndex]
    function textHittest(x,y,textIndex){
        var text=texts[textIndex];
        return(x>=text.x && 
            x<=text.x+text.width &&
            y>=text.y-text.height && 
            y<=text.y);
    }

    // handle mousedown events
    // iterate through texts[] and see if the user
    // mousedown'ed on one of them
    // If yes, set the selectedText to the index of that text
    function handleMouseDown(e){
      e.preventDefault();
      startX=parseInt(e.clientX-offsetX);
      startY=parseInt(e.clientY-offsetY);
      // Put your mousedown stuff here
      for(var i=0;i<texts.length;i++){
          if(textHittest(startX,startY,i)){
              selectedText=i;
          }
      }
    }

    // done dragging
    function handleMouseUp(e){
      e.preventDefault();
      selectedText=-1;
    }

    // also done dragging
    function handleMouseOut(e){
      e.preventDefault();
      selectedText=-1;
    }

    // handle mousemove events
    // calc how far the mouse has been dragged since
    // the last mousemove event and move the selected text
    // by that distance
    function handleMouseMove(e){
      if(selectedText<0){return;}
      e.preventDefault();
      mouseX=parseInt(e.clientX-offsetX);
      mouseY=parseInt(e.clientY-offsetY);

      // Put your mousemove stuff here
      var dx=mouseX-startX;
      var dy=mouseY-startY;
      startX=mouseX;
      startY=mouseY;

      var text=texts[selectedText];
      text.x+=dx;
      text.y+=dy;
      draw();
    }

    // listen for mouse events
    $("#canvas").mousedown(function(e){handleMouseDown(e);});
    $("#canvas").mousemove(function(e){handleMouseMove(e);});
    $("#canvas").mouseup(function(e){handleMouseUp(e);});
    $("#canvas").mouseout(function(e){handleMouseOut(e);});

    $("#submit").click(function(){

        // calc the y coordinate for this text on the canvas
        var y=texts.length*20+20;

        // get the text from the input element
        var text={text:$("#theText").val(),x:20,y:y};

        // calc the size of this text for hit-testing purposes
        ctx.font="16px verdana";
        text.width=ctx.measureText(text.text).width;
        text.height=16;

        // put this new text in the texts array
        texts.push(text);

        // redraw everything
        draw();

    });

    function drawMolecule(molecule) {

        let y=texts.length*20+20;

        let text = {text:molecule, x:20, y:y};
        ctx.font="16px verdana";
        text.width=ctx.measureText(text.text).width;
        text.height=16;

        texts.push(text);

        draw();
    }
    drawGrid();


    $("#buttonH").click(function(){
        drawMolecule("H");
    });

    $("#buttonCH").click(function(){
        drawMolecule("CH");
    });

    $("#buttonCH2").click(function(){
        drawMolecule("CH2");
    });

    $("#buttonCH3").click(function(){
        drawMolecule("CH3");
    });

    $("#buttonCOO").click(function(){
        drawMolecule("COO-"); // does not work?
    });

    $("#buttonNH").click(function(){
        drawMolecule("NH");
    });

    $("#buttonNH2").click(function(){
        drawMolecule("NH2");
    });

    $("#buttonNH2-").click(function(){
        drawMolecule("NH2-");
    });

    $("#buttonNH3Pos").click(function(){
        drawMolecule("NH3+"); 
    });

    $("#buttonOH").click(function(){
        drawMolecule("OH");
    });

    $("#buttonSH").click(function(){
        drawMolecule("SH");
    });

    $("#buttonS").click(function(){
        drawMolecule("S");
    });

    $("#buttonCHkring").click(function(){
        drawMolecule("CH KRING");
    });

    $("#buttonBridgeV").click(function(){
        drawMolecule("|");
    });

    $("#buttonBridgeH").click(function(){
        drawMolecule("__");
    });



}); // end $(function(){});
</script>
</head>
<body>
    <canvas id="canvas" width=1200 height=650></canvas>
    <input id="buttonH" type="button" value="Create a H molecule">
    <input id="buttonCH" type="button" value="Create a CH molecule">
    <input id="buttonCH2" type="button" value="Create a CH2 molecule">
    <input id="buttonCH3" type="button" value="Create a CH3 molecule">
    <input id="buttonCOO-" type="button" value="Create a COO- molecule">
    <input id="buttonNH" type="button" value="Create a NH molecule">
    <input id="buttonNH2" type="button" value="Create a NH2 molecule">
    <input id="buttonNH2-" type="button" value="Create a NH2- molecule">
    <input id="buttonNH3Pos" type="button" value="Create a NH3+ molecule">
    <input id="buttonOH" type="button" value="Create a OH molecule">
    <input id="buttonSH" type="button" value="Create a SH molecule">
    <input id="buttonCHkring" type="button" value="Create a CH kring molecule">
    <input id="buttonS" type="button" value="Create a S molecule">
    <input id="buttonBridgeV" type="button" value="Create a vertical bridge">
    <input id="buttonBridgeH" type="button" value="Create a horizontal bridge">
</body>
</html>